body {
    background: radial-gradient(#44C7F4, #16214D);
}

#login h1 {
    display: none;
}

#login #backtoblog a,
#extra-options a {
    color: white;
}

.auth0-lock {
    border-radius: 5px;
}

.login form.auth0-lock-widget {
    box-shadow: 0 0 40px 4px #111118;
}