/*
Login page modification samples

body {
	background: radial-gradient(#FCE89C, #f9a602);
}

#login h1 {
	display: none;
}

#login #backtoblog a,
#extra-options a {
	color: white;
}

.auth0-lock {
	border-radius: 5px;
}

.login form.auth0-lock-widget {
	box-shadow: 0 0 40px 4px #111118;
}
*/
